.container {
    display: flex;
    flex-direction: row;
    padding-left: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 20%;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-style {
    background-color: transparent; 
    color: #ffffff; 
    border: 2px solid #ffffff;
}

.button-style:hover {
    background-color: red;
    color: #ffffff;
    transform: scale(1.01);
}

#video {
position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.color-text {
    color: #ffffff;
    padding-left: 5em ;
}



