.card {
  transition: 0.3s;
  width: 250px;
  height: 400px;
}

.image {
  width: 250px;
  height: 350px;
}

// .cards-slider {
//   position: relative;
//   max-width: 250px;
//   margin: 0 auto;

//   &:after {
//     content: "";
//     display: block;
//     width: 250px;
//     height: 400px;
//     outline: 5px solid #ffffff;
//     position: absolute;
//     top: 0;
//     left: 0;
//   }
// }

.card:hover {
  position: relative;
  max-width: 250px;
  margin: 0 auto;

  &:after {
    content: "";
    display: block;
    width: 250px;
    height: 400px;
    outline: 5px solid #ffffff;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.main-title {
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.cards-align {
  display: flex;
}
