.Navbar {
    width: 100%;
    display: flex;
    flex-direction: row!important;
    background-color: #1C3643;
}

.Navbar-brand {
    color: #ffffff;
    display: flex;
    align-items: center;
}

.Navbar-brand:hover {
    color:#ffffff;
    text-decoration: none;
}

.Navbar-brand-logo {
    margin-right: 0.5rem;
}

.font-weight-light {
    text-decoration: none;
    font-weight: 400;
}

.font-weight-bold {
    text-decoration: none;
    font-weight: 800;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
}


.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-style {
    background-color: transparent; 
    color: #ffffff; 
    border: 2px solid #ffffff;

}

.button-style:hover {
    background-color: red;
    color: #ffffff;
    transform: scale(1.01);
}

.btn-direction {
    display: flex;
    padding-top: 0.5%;
    padding-right: 2%;
}

.txt-profile {
    color: #ffffff;
}
.profile-image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}







