.cards-slider {
  position: relative;
  max-width: 250px;
  margin: 0 auto;

  &:after {
    content: "";
    display: block;
    width: 250px;
    height: 400px;
    outline: 5px solid #ffffff;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.cards-slider-wrapper {
  display: flex;
  // max-width: 250px;
  position: absolute;
  transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  .card {
    flex: 1;
    min-width: 250px;
    opacity: 0.5;
    transform: scale(0.7);
    transition: opacity 300ms linear,
      transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
}

$i: 0;
@for $i from 0 through 19 {
  .cards-slider.active-slide-#{$i} #card-#{$i} {
    opacity: 1;
    transform: scale(1);
  }
}

body {
  margin: 0;
  padding: 0 0 100px 0;
  font-family: sans-serif;
  overflow-x: hidden;
  background: black}


  .btn-next-prev {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2em;
  }

  .button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5%;
}

.button-style {
    background-color: transparent; 
    color: #ffffff; 
    border: 2px solid #ffffff;

}

.button-style:hover {
    background-color: red;
    color: #ffffff;
    transform: scale(1.01);
}