.color-text {
  color: #ffffff;
  padding-left: 5em;
}

.card-space {
  display: flex;
  justify-content: center;
  padding-left: 10%;
}

body {
  margin: 0;
  padding: 0 0 100px 0;
  font-family: sans-serif;
  // overflow-x: hidden;
  background: black;
}
